{# Sidebar on wide screens switches to top banner on narrow screens #}
    <div class="header pure-u">
      <div class="banner-img"
{%- if BANNER -%}
	style="background-image: url('{{ SITEURL }}/{{ BANNER }}')"
{%- else -%}
	style="background: none repeat scroll 0% 0% #3D4F5D"
{%- endif -%}>

      <div class="header-body"><header>
{% if AVATAR %}
	<img class="avatar" src="{{ SITEURL }}/{{ AVATAR }}">
{% endif %}
	<h1 class="header-title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
	<p class="tagline">{{ TAGLINE }}</p>
{% for title, link in LINKS %}
	<p class="links"><a href="{{ link }}">{{ title }}</a></p>
{% endfor %}
	<p class="social">
{% for title, link in SOCIAL %}
	  <a href="{{ link }}"><i class="fa fa-{{ title }} fa-3x"></i></a>
{% endfor %}
	</p>
      </header></div>

    </div></div>
</div>
