{% if DISQUS_SITENAME %}
  <div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    (function() {
      var d = document, s = d.createElement('script');
      s.async = true; s.type = 'text/javascript';
      s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript><a href="https://disqus.com/?ref_noscript" rel="nofollow">Comments powered by Disqus.</a></noscript>
  </div>
{% endif %}
