{# Display metadata for articles/pages #}
{% macro metadata(post) %}
<footer class="post-meta">//

{% if post.authors %}
  <address class="vcard author"> By
{% for au in post.authors %}
    <a class="author-link" href="{{ SITEURL }}/{{ au.url }}">{{ au }}</a>
{% endfor %}
  </address> &middot;
{% endif %}

  <span class="post-date" title="{{ post.date.isoformat() }}">{{ post.locale_date }}</span>

{% if HIDE_CATEGORIES %}
  under
{% for tag in post.tags %}
  <a class="post-cat" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
{% endfor %}
{% else %}
  in <a class="post-cat" href="{{ SITEURL }}/{{ post.category.url }}">{{ post.category }}</a>
{% endif %}

</footer>
{% endmacro %}
