{# Set some defaults if not specified in pelicanconf.py #}
{% set USE_OPEN_GRAPH = USE_OPEN_GRAPH|d(True, true) %}
{% set SITESUBTITLE = SITESUBTITLE|d('', true) %}
{% set TAGLINE = TAGLINE|d(SITESUBTITLE, true) %}
<!doctype html>
<html lang="{% if article %}{{ article.lang }}{% elif page %}{{ page.lang }}{% else %}{{ DEFAULT_LANG }}{% endif %}"{% if USE_OPEN_GRAPH %} prefix="og: http://ogp.me/ns#"{% endif %}>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ SITENAME }}, {{ TAGLINE }}">
  <meta name="author" content="{{ AUTHOR }}" />
  <title>{% block title %}{{ SITENAME }} // {{ TAGLINE }}{% endblock title %}</title>

{% include 'include/css.html' %}
{% include 'include/opengraph.html' %}
{% include 'include/favicon.html' %}
{% include 'include/feeds.html' %}

</head><body>

{% include 'include/nav.html' %}

  <div class="pure-g" id="layout">
{% block body %}

    <div class="header pure-u-1 pure-u-md-1-4"
{%- if BANNER -%}
	style="background-image: url('{{ SITEURL }}/{{ BANNER }}')"
{%- else -%}
	style="background: none repeat scroll 0% 0% #3D4F5D"
{%- endif -%}><header>
{% include 'include/header.html' %}
    </header></div>

    <div class="content pure-u-1 pure-u-md-3-4">
      <main>
{% block content %}{% endblock %}
      </main>

      <footer class="footer">
{% include 'include/footer.html' %}
      </footer>
    </div>

{% endblock %}
  </div>

{% include 'include/js.html' %}
{% include 'include/analytics.html' %}
</body></html>
