{# List of articles #}
{% extends 'base.html' %}

{% block content %}
	<h1 class="index-title">
{%- block pagetitle %}
{% if not articles_page.has_previous() %} Latest posts {% else %} Posts {% endif %}
{% endblock pagetitle -%}
	</h1>

	<ul id="post-list">
{% for post in articles_page.object_list %}

	  <li class="post"><details class="post-details">
	    <summary class="post-show">
	      <h3><a class="post-title" href="{{ SITEURL }}/{{ post.url }}" rel="bookmark"
		title="{{ post.title|striptags }}">{{ post.title }}</a></h3>

{% import 'include/metadata.html' as md with context %}
{{ md.metadata(post) }}

	    </summary>

	    <p class="post-summary">{{ post.summary }}</p>
	  </details></li>
{% endfor %}
	  </ul>

{% include 'include/pagination.html' %}
{% endblock content %}
